*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #2C3539;
}

#wrapper{
    background-color: #ffffff;
    margin: 6.9vh auto;
    padding: 10px;
    width: 70%;
    min-height: 83vh;
}

header{
    background-color: #ffffff;
}

header h1{
    font-family: 'Tangerine', serif;
    font-size: 120px;
    padding-top: 5px;
    text-align: center;
    margin: 20px auto;
    color: #2C3539;
    text-shadow: 4px 4px 4px #aaa;
}

header h2 {
    font-family: 'Maven Pro', sans-serif;
    font-size: 28px;
    padding-top: 5px;
    text-align: center;
    margin: 10px 10px;
    color: #2C3539;
    text-shadow: 4px 4px 4px #aaa;
}

nav{
    margin: 1vh 6vw;
    border-top: 1px solid #B6B6B4;
    border-bottom: 1px solid #B6B6B4;
}

nav a{
    padding: 0px 10px;
    font-size: 26px;
    text-decoration: none;
    color: #25383C;
}

nav a:hover{
    color: #9E9E9E;
}

#bulbImage{
    display: block;
    margin: 0px auto;
    height: 35vh;
}

figcaption{
    text-align: center;
    font-weight: 800;
}

#slideImg{
    display: block;
    margin: auto;
    width: 50vw;
    height: 20vw;
    padding: 10px;
}

.button{
    display: inline-block;
    width: 87px;
    margin: 0 auto;
    padding: 5px;
    color: #ffffff;
    background-color: #2C3539;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
}

.buttonGroup{
    display: block;
    margin: 0 auto;
}
section{
    margin: 2vh 7vw;
    font-family: 'Maven Pro', sans-serif;
    color: #2C3539;
}

section h3{
    margin: 10px auto;
}

.container{
    margin: 0px 2.8vw;
}

.container input{
    margin: 0.5vw auto;
}

p{
    color: #2C3539;
}

#car{
    display: block;
}